a{
	outline: none;
	img{
		border: none;
	}
}
.content{
	@include make-row;
}
.container {
		.heading{
			padding-left: 45px;
			> h2 {
			margin: 0 0 30px;
			font: bold 22px $font_heading;
			color: #000000;
			position: relative;
			line-height: 30px;
			text-indent: 14px;
			
			> span {
				display: inline-block;
				width: 8px;
				height: 30px;
				background: $color_main;
				position: absolute;
				top: 0;
				left: 0;

			}
		}
	}
}