body{ 
	> #navegacao{
		background-color: #000000;
		> .container {
			#navegacao__content {
				@include make-md-column(12);

				.navbar{
					border-radius: 0;
					box-shadow: none;
					border: none;
					background-color: #000000;
					margin-bottom: 0;
					.content-nav{
						@include make-md-column(12);
					}
					.navbar-left{
						>.navbar-toggle{
							margin-right: -20px;
						}
					}
					.navbar-collapse {
						border: none;
						>ul.navbar-nav{
							>li{
								&.active{
									>a {
										color: $color_main;
										font: 15px $font_main;
									
									}
								}	
								a{
									color: #fff;
									font: 14px $font_main;
								}
							}
								>li.dropdown{	
									>ul.dropdown-menu{

										>li{
											>a{
												color: #000;
												}
											}
										}
									}	
								}
							}				
						}
					}
				}
			}
		}
	
.nav-icons{
	@include make-md-column(12);
	margin-top: 20px;
	text-align: right;
	
	#login_text{
 		color: #fff;
 		padding: 0;
 		margin-left: 15px;
 	}
 	#fa__user{
 		margin-left: 2px;
 	}
	#fa__search {
		font-size: 20px;
		color: #fff;
		padding: 0;
		margin-left: 15px;
		

	}
 	#fa__cart{
 		font-size: 20px;
 		color: #fff;
 		margin-left: 15px;
 	}


 	#search-dp{
    min-width: 200px;
    height: 90px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color: transparent;

}
	#search_input{
		min-width: 200px;
	}
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color: #fff;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.text__login{
	color: #000;
}
@media(max-width:768px){
    #login-dp{
        background-color: #fff;
        color: #000;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

