body{ 
	>header {
		.login {
			 li {
			 	color: #ffffff;	
			 	margin-left: 15px;	
			 	font-family: $font_main;

			 	.op {
			 		text-decoration: none;
			 		
			 		
			 	}
			 }
		}

		.nav-f {
			font-family: $font_main;

		}
		.nav-b {
			width: 50px;
			height: 50px;
		}
		.nav-s {
			width: 30px;
			height: 30px;
		}

		input {
			font: 13px $font_main;
		}
	}
}
