body{ 
	> #navegacao{
		background-color: #000000;
		> .container {
			#navegacao__content {
				@include make-md-column(12);

				.navbar{
					border-radius: 0;
					box-shadow: none;
					border: none;
					background-color: #000000;
					margin-bottom: 0;
					.login{
						>p{
							color: #fff;
							>a{
								text-decoration: none;
								color: $color_main; }
							}
						}
					.nav-icons{
						margin-right: -20px;
						.navbar-toggle{
							border: none;
							margin-right: 0px;
						}
						>.find{
							margin-right: 0px;
						}
					}
					.navbar-left{
						>.navbar-toggle{
							margin-right: -20px;
						}
					}
					.navbar-collapse {
						border: none;
						>ul.navbar-nav{
							>li{
								&.active{
									>a {
										color: $color_main;
										font: 15px $font_main;
									
									}
								}	
								a{
									color: #fff;
									font: 14px $font_main;
								}
							}
								>li.dropdown{	
									>ul.dropdown-menu{

										>li{
											>a{
												color: #000;
												}
											}
										}
									}	
								}
							}				
						}
					}
				}
			}
	




		.nav-b {
			width: 40px;
			height: 40px;
			
		}
		.nav-s {
			width: 20px;
			height: 20px;
		}

}
