$font_main: 'Open Sans', Helvetica, Arial, sans-serif;
$font_title: 'Roboto Slab', Helvetica, Arial, sans-serif;	
$font_heading: 'Pacifico', serif;

$color_main: #D51616;


/*DESTAQUES*/
$add: #16A085;
$checkout: #34495E;
$cont: #2C3E50;

$checkhover: #22A7F0;
$conthover: #455C70;

$rad: 10px;
$close: 100%;
$transition: all 500ms ease;
