@import "vendors/bootstrap/bootstrap/variables";
@import "vendors/bootstrap/bootstrap/mixins";
@import "variables";
@import "geral";
@import "slider";
@import "header";
@import "footer";
@import "destaques";
@import "responsive";
